/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.font{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    color: white;
    background-color: #0061ff;
    padding: 6px 15px;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    min-width: 2000px;
}

.logo{
    padding-top: 5.5px;
    padding-left: 15px;
}

.main-nav-left{
    padding: 0px 922px 0px 43px;
}

.main-nav-left li{
    margin-right: 34px;
}

.main-nav-right li{
    margin-right: 10px;
}

header .main-nav-left li{
    display: inline;
}

header .main-nav-right li{
    display: inline;
    margin-right: 39px;
}

.main-nav-left a{
    text-decoration: none;
    color: #0d0d0d;
}

.main-nav-right a{
    text-decoration: none;
    color: #0d0d0d;
}

.start-button a{
    text-decoration: none;
    margin-right: 22px;
}
/* JUMBOTRON */
.jumbotron{
    background-color: #b4d0e7;
    width: 100vw;
    height: 85vh;
    min-width: 2000px;
}

.container-1{
    margin: 0 auto;
    width: 86%;
    height: 100%;
}

.container-1 h1{
    font-size: 109px;
    padding: 62px 36px 64px 0px;
    line-height: 126px;
    font-weight: bolder;
}

.left-col-1{
    width: 30%;
    height: 480px;
}

#btn-special-1{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 22px;
}

#special-p{
    font-size: 15px;
    margin-top: 14px;
}

.left-col-1 p{
    padding: 0px 83px 39px 0px;
    font-size: 18px;
    line-height: 29px;
}

.right-col-2{
    width: 63%;
    height: 533px;
}

#jumbo-size-img{
    width: 101%;
    margin-left: 80px;
}

.fa-arrow-down::before{
    font-size: 39px;
}
/* MAIN */
main{
    width: 100vw;
    height: 300vh;
    min-width: 2000px;
}
.container-2{
    margin: 0 auto;
    width: 67%;
    height: 100%;
    background-color: red;
}

#h1-size{
    padding-top: 250px;
    font-size: 3.4em;
    padding-bottom: 57px;
}

#radio-1-p{
    font-size: 14px;
    vertical-align: top;
    display: inline;
    margin-right: 10px;
}

#radio-2-p{
    font-size: 14px;
    vertical-align: top;
    display: inline;
}