/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.font{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    color: white;
    background-color: #0061ff;
    padding: 6px 15px;
    text-decoration: none;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* HEADER */
header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
}

.logo{
    padding-top: 5.5px;
}

.main-nav-left{
    padding: 0px 39px;
}

.main-nav-right{
    padding: 0px 9px;
}

.main-nav-left li{
    margin-right: 34px;
}

.main-nav-right li{
    margin-right: 34px;
}

header .main-nav-left li{
    display: inline;
}

header .main-nav-right li{
    display: inline;
}

.main-nav-left a{
    text-decoration: none;
    color: #0d0d0d;
}

.main-nav-right a{
    text-decoration: none;
    color: #0d0d0d;
}

.start-button a{
    text-decoration: none;
}
/* JUMBOTRON */
/*Primo-contenitore*/
.jumbotron{
    background-color: #b4d0e7;
    width: 100vw;
    height: 76vh;
    min-height: 800px;
}

.container-1{
    margin: 0 auto;
    width: 77%;
}

.container-1 h1{
    font-size: 95px;
    padding: 62px 0px 64px 0px;
    line-height: 126px;
    font-weight: bolder;
}

.left-col-1{
    width: 30%;
    height: 480px;
}

#btn-special-1{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 22px;
}

#special-p{
    font-size: 15px;
    margin-top: 20px;
}

.left-col-1 p{
    padding: 0px 100px 39px 0px;
    font-size: 15px;
    line-height: 20px;
}

.right-col-2{
    width: 63%;
    height: 533px;
}

#jumbo-size-img{
    width: 99%;
    margin-left: 5%;
}

.fa-arrow-down::before{
    font-size: 39px;
}
/* MAIN */
.wrapper-1{
    width: 100vw;
}

/*Secondo contenitore*/
.container-2{
    margin: 0 auto;
    width: 65%;
}

#h1-size{
    padding-top: 250px;
    font-size: 3.1em;
    padding-bottom: 57px;
}

.radio-position{
    vertical-align: middle;
    width: 17px;
}

#radio-1-p{
    font-size: 19px;
    display: inline;
    margin-right: 17px;
}

#radio-2-p{
    font-size: 19px;
    display: inline;
}
/* columns */
.left-column{
    width: 25%;
    height: 1070px;
    margin-top: 36px;
    border: 1px solid lightgrey;
    padding-right: 3px;
}

.left-column p{
    padding-right: 30px;
}

.line-height{
    line-height: 20px;
}

.central-column{
    width: 25%;
    height: 1070px;
    margin-top: 36px;
    margin-left: 12.5%;
    border: 1px solid lightgrey;
    padding-right: 3px;
}

.right-column{
    width: 25%;
    height: 1070px;
    margin-top: 36px;
    margin-left: 12.5%;
    border: 1px solid lightgrey;
    padding-right: 3px;
}
/* Contenuto colonne*/
.header-column{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.text-container-1{
    width: 100%;
    padding: 32px 8px 0px 19px;
    line-height: 25px;
}

.text-container-1 h2{
    margin-bottom: 10px;
}

.text-container-1 span{
    display: block;
}

.style-price{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.style-month{
    color: #667583;
    display: block;
    margin-bottom: 30px;
}

.margin-bottom-1{
    margin-bottom: 20px;
}

.margin-bottom-2{
    margin-bottom: 50px;
}

.btn-special-2{
    padding: 6px 27px;
}

.margin-top-1{
    margin-top: 30px;
}

.margin-bottom-3{
    margin-bottom: 25px;
}

#special-hr{
    margin-right: 250px;
}

.text-container-2{
    padding: 24px 0px 0px 21px;
    line-height: 37px;
}

.left-column h3{
    padding: 30px 0px 0px 21px
}

.central-column h3{
    padding: 30px 0px 0px 21px
}

.right-column h3{
    padding: 30px 0px 0px 21px
}

.text-container-2 li{
    list-style: none;
    font-size: 14px;
}

.fa-check{
    color: #0061ff;
}

.bottom-column{
    width: 100%;
    height: 238px;
    margin-top: 1165px;
    border: 1px solid lightgrey;
}

.left-mod{
    margin: 21px 25px;
    line-height: 47px;
}

#btn-special-3{
    margin-top: 30px;
    margin-right: 23px;
}

.color-a{
    color: #0565ff;
}

/*Terzo-contenitore*/
.container-3{
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 120px;
}

.container-3 img{
    width: 49%;
    margin-right: 120px;
}

.text-container-3{
    width: 40%;
    padding: 32px 100px 0px 0px;
}

.text-container-3 h2{
    margin-bottom: 20px;
}

.text-container-3 p{
    margin-bottom: 33px;
}

#btn-special-4{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px 19px;
    border: 1px solid black;
}
/* Quarto-contenitore */
.container-4{
    background-color: red;
    margin: 0 auto;
}

.container-4 h1{
    font-size: 41px;
    margin-bottom: 40px;
}

.column-left{
    background-color: green;
    width: 25%;
    margin-bottom: 166px;
}

.column-left h2{
    margin-bottom: 15px;
}

.first-row h2{
    margin-bottom: 10px;
}

.first-row{
    background-color: green;
    width: 25%;
    margin-left: 12.5%;
    margin-bottom: 166px;
}

.column-left img{
    width: 100%;
}

.first-row img{
    width: 100%;
}

.second-row img{
    width: 100%;
}

.second-row{
    background-color: green;
    width: 25%;
    margin-left: 12.5%;
    margin-bottom: 166px;
}

.second-row h2{
    margin-bottom: 10px;
}

.first-row p{
    padding-right: 30px;
}


/*Quinto-contenitore*/
.container-5{
    margin: 0 auto;
    height: 20vh;
}

.container-5 h1{
    margin-bottom: 17px;
    padding-top: 17px;
    padding-right: 780px;
    font-size: 41px;
}

#color-a-2{
    color: blue;
}

/*Sezione-immagini-svg*/
.wrapper-2{
    width: 100vw;
}

.svg-container{
    background-color:lightgrey;
    height: 45vh;
}

#img-special{
    width: 10%;
    padding-left: 50px;
    padding-top: 45px;
}

.wrapper-2 h4{
    padding-left: 50px

}

.quadrato{
    background-color: red;
    height: 100%;
    width: 28%;
    display: block;
}
/*Immagini svg*/
.quadrato-1{
    background-color:#a2d39b;
    width: 50%;
    height: 50%;
    border: 10px solid #d0e9cd;
}

#border{
    border: none;
}

.quadrato-1 img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quadrato-2{
    background-color: #61082b;
    width: 50%;
    height: 50%;
}

.quadrato-2 img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quadrato-3{
    background-color: #0093ce;
    width: 50%;
    height: 50%;
}

.quadrato-3 img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quadrato-4{
    background-color: #ff1c1c;
    width: 50%;
    height: 50%;
}

.quadrato-4 img{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#svg-color-1{
    background-color: #d5001f;
    border: none;
}

#svg-color-2{
    background-color: #b4d0e7;
}

#svg-color-3{
    background-color: #0d2481;
}

#svg-color-4{
    background-color: #ffd830;
}
/*Fine immagini svg*/
/*Sesto contenitore*/
.background{
    width: 100vw;
    background-color: #b4d0e7;
    height: 40vh;
}

.container-6{
    margin: 0 auto;
    height: 40vh;
    width: 65%;
    padding: 150px 0px;
}

.container-6 h2{
    color: #61082b;
    font-size: 2.5em;
}

#box-word{
    height: 90%;
    width: 40%;
}

#btn-special-5{
    background-color: white;
    color: black;
    border: none;
    padding: 8px 60px;
    margin-bottom: 50px;
}
/*F.A.Q.*/
.background-faq{
    width: 100vw;
    height: 70vh;
}

.container-7{
    margin: 0 auto;
    padding: 100px 0px;
    background-color: brown;
    width: 65%;
    height: 70vh;
    padding: 160px 0px;
}

.container-7 h2{
    font-size: 1.9em;
    margin-bottom: 50px;
}

#special-h4{
    padding-left: 0px;
    display: inline;
}

.fa-chevron-down{
    display: inline;
    margin-bottom: 40px;
    padding-top: 30px;
    margin-left: 650px;
}

/*FOOTER*/
footer{
    width: 100vw;
    height: 40vh;
}

.background-footer{
    background-color: cadetblue;
    margin: 0 auto;
    width: 78%;
    height: 32vh;
    padding: 80px 0px 30px 0px;
}

.bottom-footer{
    margin: 0 auto;
    width: 78%;
    height: 8vh;
}

#main-list-1{
    height: 263px;
    border-bottom: 1px solid black;
}

.list-width{
    width: 10%;
}

.margin-right-list{
    margin-right: 10%;
}

nav h1{
    color: white;
    margin-bottom: 15px;
}

nav li{
    list-style: none;
}

li a{
    text-decoration: none;
    line-height: 25px;
    color: white;
}

.fa-globe-americas{
    padding-top: 35px;
    margin-right: 2px;
    color: grey;
}

#color-language{
    color: grey;
}

.fa-caret-up{
    color: grey;
}